*{
	font-size:12px;
}
html {
	height: 100%;
}
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    padding:20px;
    font-size:13px;
    margin:0;
}
h2 {
    font-size:18px;
    color:#333;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	background:#FFFEE6;
	color:#8F5700;
	padding:12px;
}
.demo-tip{
	width:24px;
	height:16px;
	float:left;
}

.payslip
{
	font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
	border: 1px inset black;
	border-collapse:collapse;
}

#divTop{
	height:180px;
    }

#divLeft{
	width:40%;
	float:left;
	height:200px;
	}

#divCenter{
	width:60%;
	float:right;
	height:200px;
	}
p.copyright{
	font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
}

#tblogin{
	font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
}

#pyTop{
	height:100px;
	text-align:center;
	}

#pyLeft{
	width:20%;
	float:left;
	height:400px;
	}
	
#pyCenter{
	width:80%;
	float:right;
	height:400px;
	}
