<div id="toolbarCustomer" style="padding:5px;height:auto"> 
    <div style="margin-bottom:5px"> 
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newCustomer()">Register Customer</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editCustomer()">Edit Customer</a>   
        <a href="#" class="easyui-linkbutton" iconCls="icon-customer" plain="true" onclick="customerReport()">View customer detailed Report</a>   
  
    </div> 
    <div> 
                Member No : <input id="custcustomerid" class="easyui-validatebox"  style="width:200px">
		National ID : <input id="custidno" class="easyui-validatebox" style="width:200px">
		Mobile No : <input id="custmobileno" class="easyui-validatebox" style="width:200px">		
        <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="searchCustomer()">Search</a>
    </div> 
</div>  
<table id="dgCustomer" class="easyui-datagrid" style="width:986px;height:414px" 
data-options="url:'../data/get_data.php?action=27',method:'get',toolbar:'#toolbarCustomer',singleSelect:true,fitColumns:true,striped:true,autoRowHeight:false,remoteSort:true,pagination:true" >
    <thead> 
        <tr> 
			<th data-options="field:'number'">Member No</th>
			<th data-options="field:'name'">Name</th>
                        <th data-options="field:'mobileno'">Mobile No</th>
                        <th data-options="field:'idno'">ID No</th>
			<th data-options="field:'branchid',hidden:true">Profile ID</th>
			<th data-options="field:'branchname'">Branch</th>
			<th data-options="field:'joindate'">Join Date</th>
			<th data-options="field:'customertype',hidden:true">customertype</th>
			<th data-options="field:'customertypedesc'">Customer Type</th>
			<th data-options="field:'loanofficerid',hidden:true">loanofficerid</th>
			<th data-options="field:'addresstype',hidden:true">addresstype</th>			
			<th data-options="field:'dateofbirth'">Date Of Birth</th>
			<th data-options="field:'personid',hidden:true">personid</th>			
			<th data-options="field:'idtype',hidden:true">idtype</th>
			<th data-options="field:'idtypedesc'">ID Type</th>	
			<th data-options="field:'title',hidden:'true'">title</th>
			<th data-options="field:'titledesc',hidden:true">Title</th>				
			<th data-options="field:'gender',hidden:true">gender</th>		
			<th data-options="field:'genderdesc'">Gender</th>
                        <th data-options="field:'addresstypedesc'">Address Type</th>
			<th data-options="field:'address'">Address</th>
			<th data-options="field:'town',hidden:true">Town</th>
			<th data-options="field:'towndesc',hidden:true">towndesc</th>			
			<th data-options="field:'country',hidden:true">country</th>
			<th data-options="field:'county',hidden:true">country</th>	
			<th data-options="field:'surname',hidden:'true'">surname</th>
			<th data-options="field:'firstname',hidden:'true'">firstname</th>
			<th data-options="field:'lastname',hidden:'true'">lastname</th>			
			<th data-options="field:'maritalstatus',hidden:'true'">maritalstatus</th>			
			<th data-options="field:'maritalstatusdesc',hidden:true">Marital Status</th>			
			<th data-options="field:'addressid',hidden:true">addressid</th>
			<th data-options="field:'email'">Email</th>						
        </tr>  
    </thead>  
</table>

<div id="dlgCustomer" class="easyui-dialog" style="width:700px;height:510px;padding:10px 10px" closed="true" buttons="#dlg-buttons-Customer">
<form id="fmCustomer" method="post" enctype="multipart/form-data">
<table>
	<tr>
		<td align="right">Customer Type :</td>
		<td>
			<input name="customertype" id="customertype" class="easyui-combobox"  onchange=""
			data-options="url:'../data/get_data.php?action=18',valueField:'valuemember',textField:'displaymember'">
		</td>
		<td align="right">Join Date :</td>
		<td>
			<input id="joindate" class="easyui-datebox" required="true" name="joindate"> 
		</td>		
	</tr>
	<tr>
		<td colspan="4">
			<div id="customertab" class="easyui-tabs" style="width:630px;height:380px">
				<div title="Customer Information" style="padding:10px" data-options="closable:false">
					<table cellpadding="5px">
						<tr>
							<td align="right">Title : </td>
							<td>
								<input name="title" id="title" class="easyui-combobox"  onchange=""
								data-options="url:'../data/get_data.php?action=17',valueField:'valuemember',textField:'displaymember'">
							</td>
							<td align="right">Member No :</td> 
							<td><input name="number" class="easyui-validatebox" required="true" style="width:200px"></td>
						</tr>
						<tr>
							<td align="right">Surname : </td>
							<td><input name="surname" class="easyui-validatebox" required="true" style="width:200px"></td>
							<td align="right">Mobile No :</td> 
							<td><input name="mobileno" class="easyui-numberbox" value="0" data-options="min:0,length:9" style="width:200px" required="true"></td>
						</tr>
						<tr>
							<td align="right">First Name : </td>
							<td>
								<input name="firstname" class="easyui-validatebox" required="true" style="width:200px"></td>
							</td>
							<td align="right">Email :</td> 
							<td><input name="email" style="width:200px"></td>
						</tr>
						<tr>
						    <td align="right">Middle Name : </td>
							<td>
								<input name="lastname" class="easyui-validatebox" style="width:200px"></td>
							</td>							
						</tr>
						<tr>
						    <td align="right">Date of Birth : </td>
							<td>
								<input id="dateofbirth" class="easyui-datebox"  style="width:200px" name="dateofbirth">
							</td>							
						</tr>
						<tr>
							<td align="right">Marital Status :</td>
							<td>
								<input name="maritalstatus" id="maritalstatus" required="true" class="easyui-combobox" style="width:200px"
								data-options="url:'../data/get_data.php?action=30',valueField:'valuemember',textField:'displaymember'">					 			
							</td>
						</tr>						
						<tr>
							<td align="right">Gender :</td>
							<td>
								<input name="gender" id="gender" class="easyui-combobox" required="true" style="width:200px"
								data-options="url:'../data/get_data.php?action=19',valueField:'valuemember',textField:'displaymember'">					 			
							</td>
						</tr>						
						<tr>
							<td align="right">ID Type :</td>
							<td>
								<input name="idtype" id="idtype" class="easyui-combobox" required="true" style="width:200px"
								data-options="url:'../data/get_data.php?action=8',valueField:'valuemember',textField:'displaymember'">					 			
							</td>
						</tr>			
						<tr>
							<td align="right">National ID :</td> 
							<td><input name="idno"  class="easyui-validatebox"  style="width:200px"></td>
						</tr>
						
					</table>	
				</div>
				<div title="Address" style="padding:10px" data-options="closable:false">
					<table cellpadding="5px">
						<tr>
							<td align="right">Address Type :</td>
							<td>
								<input name="addresstype" id="addresstype" class="easyui-combobox" style="width:200px"
								data-options="url:'../data/get_data.php?action=20',valueField:'valuemember',textField:'displaymember'">					 			
							</td>
						</tr>
						<tr>
						    <td align="right">Address : </td>
							<td>
								<input name="address" class="easyui-validatebox"  style="width:200px"></td>
							</td>							
						</tr>
						<tr>
							<td align="right">Post Code :</td> 
							<td><input name="postcode" style="width:200px"></td>
						</tr>
						<tr>
						    <td align="right">Town : </td>
							<td>
								<input name="town" id="town" class="easyui-combobox" style="width:200px"
								data-options="url:'../data/get_data.php?action=58',valueField:'valuemember',textField:'displaymember'">	
							</td>							
						</tr>
						<tr>
							<td align="right">Province :</td> 
							<td><input name="province" style="width:200px"></td>
						</tr>						
						<tr>
							<td align="right">County :</td>
							<td>
								<input name="county" id="county" class="easyui-combobox" style="width:200px"
								data-options="url:'../data/get_data.php?action=22',valueField:'valuemember',textField:'displaymember'">					 			
							</td>
						</tr>
						<tr>
							<td align="right">Country :</td>
							<td>
								<input name="countryid" id="countryid" class="easyui-combobox" style="width:200px"
								data-options="url:'../data/get_data.php?action=21',valueField:'valuemember',textField:'displaymember'">					 			
							</td>
						</tr>					
					</table>
				</div>
				<div title="Accounts" style="padding:10px"data-options="closable:false">
					<table cellpadding="5px">
						<tr>
							<td align="right">Loan Officer :</td>
							<td>
								<input name="loanofficerid" id="loanofficerid" class="easyui-combobox" style="width:200px"
								data-options="url:'../data/get_data.php?action=26',valueField:'loanofficerid',textField:'description'">					 			
							</td>
						</tr>						
					</table>
				</div>
								
				
				<div title="Next Of Kin" style="padding:10px" data-options="closable:false">
				</div>
				<div title="Passport" style="padding:10px" data-options="closable:false">
                                   
              
            
    <table cellpadding="5px">
        <tr>
            <td align="right"><label>Select Passport photo</label></td>
            <td>
                 <input id="file-3" type="file" multiple=false>					 			
            </td>
        </tr>						
    </table>
				</div>
			</div>
		</td>
	</tr>	
</table>
</form>  	
</div>
<div id="dlg-buttons-Customer">  
    <a href="#" id="btnsavecustomer" class="easyui-linkbutton" iconCls="icon-ok" onclick="javascript:$('#btnsavecustomer').linkbutton('disable');saveCustomer();">Save</a>  
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#fmCustomer').form('clear');$('#btnsavecustomer').linkbutton('enable');$('#dlgCustomer').dialog('close');">Cancel</a>  
</div> 
</body>
</html>
